<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>section0_0</key>
	<dict>
		<key>columncount</key>
		<integer>1</integer>
		<key>detailtitle</key>
		<string></string>
		<key>tempvalue</key>
		<string></string>
		<key>titleLabelNumberOfLines</key>
		<string></string>
		<key>sectiontitle</key>
		<string>SECTION5</string>
		<key>inputAccessoryView</key>
		<string></string>
		<key>sectionheight</key>
		<string>0</string>
		<key>sectionfooter</key>
		<string></string>
		<key>rightComponts</key>
		<string></string>
		<key>imageCornerRadius</key>
		<false/>
		<key>sectionHeaderView</key>
		<string></string>
		<key>sectioncolor</key>
		<string>0x3ffee</string>
		<key>sectionbgcolor</key>
		<string>0xaaaa</string>
		<key>cellclass</key>
		<string>BaseXIBCollectionViewCell</string>
		<key>cellheight</key>
		<integer>100</integer>
		<key>title</key>
		<string>CELL</string>
		<key>picture</key>
		<string>profile</string>
		<key>sectionfont</key>
		<string>11</string>
		<key>imageRight</key>
		<false/>
		<key>titlecolor</key>
		<string></string>
		<key>sel_selector_str</key>
		<string>selectAction:</string>
		<key>value</key>
		<string></string>
		<key>subvalue2</key>
		<string></string>
		<key>dictionary</key>
		<dict>
			<key>key_cellstruct_background</key>
			<string>random</string>
		</dict>
		<key>CellStyleValue</key>
		<string></string>
		<key>selectionStyle</key>
		<true/>
		<key>xibvalue</key>
		<string></string>
		<key>attributeTitle</key>
		<string></string>
		<key>titlefontsize</key>
		<string></string>
		<key>array</key>
		<string></string>
		<key>picturecolor</key>
		<string></string>
		<key>textAlignment</key>
		<string></string>
		<key>placeHolder</key>
		<string></string>
		<key>accessory</key>
		<false/>
		<key>key_indexpath</key>
		<string></string>
		<key>cellctr</key>
		<string></string>
		<key>sectionfooterheight</key>
		<string></string>
		<key>showTopLine</key>
		<false/>
		<key>showBottomLine</key>
		<false/>
		<key>uploadingIndex</key>
		<string></string>
		<key>uploadobjcts</key>
		<string></string>
		<key>object2</key>
		<string></string>
		<key>inputView</key>
		<string></string>
		<key>rightValue</key>
		<string></string>
	</dict>
	<key>section0_1</key>
	<dict>
		<key>columncount</key>
		<integer>1</integer>
		<key>detailtitle</key>
		<string></string>
		<key>tempvalue</key>
		<string></string>
		<key>titleLabelNumberOfLines</key>
		<string></string>
		<key>sectiontitle</key>
		<string>SECTION5</string>
		<key>inputAccessoryView</key>
		<string></string>
		<key>sectionheight</key>
		<string>0</string>
		<key>sectionfooter</key>
		<string></string>
		<key>rightComponts</key>
		<string></string>
		<key>imageCornerRadius</key>
		<false/>
		<key>sectionHeaderView</key>
		<string></string>
		<key>sectioncolor</key>
		<string>0x3ffee</string>
		<key>sectionbgcolor</key>
		<string>0xaaaa</string>
		<key>cellclass</key>
		<string>BaseXIBCollectionViewCell</string>
		<key>cellheight</key>
		<integer>100</integer>
		<key>title</key>
		<string>CELL</string>
		<key>picture</key>
		<string>profile</string>
		<key>sectionfont</key>
		<string>11</string>
		<key>imageRight</key>
		<false/>
		<key>titlecolor</key>
		<string></string>
		<key>sel_selector_str</key>
		<string>selectAction:</string>
		<key>value</key>
		<string></string>
		<key>subvalue2</key>
		<string></string>
		<key>dictionary</key>
		<dict>
			<key>key_cellstruct_background</key>
			<string>random</string>
		</dict>
		<key>CellStyleValue</key>
		<string></string>
		<key>selectionStyle</key>
		<true/>
		<key>xibvalue</key>
		<string></string>
		<key>attributeTitle</key>
		<string></string>
		<key>titlefontsize</key>
		<string></string>
		<key>array</key>
		<string></string>
		<key>picturecolor</key>
		<string></string>
		<key>textAlignment</key>
		<string></string>
		<key>placeHolder</key>
		<string></string>
		<key>accessory</key>
		<false/>
		<key>key_indexpath</key>
		<string></string>
		<key>cellctr</key>
		<string></string>
		<key>sectionfooterheight</key>
		<string></string>
		<key>showTopLine</key>
		<false/>
		<key>showBottomLine</key>
		<false/>
		<key>uploadingIndex</key>
		<string></string>
		<key>uploadobjcts</key>
		<string></string>
		<key>object2</key>
		<string></string>
		<key>inputView</key>
		<string></string>
		<key>rightValue</key>
		<string></string>
	</dict>
	<key>section1_0</key>
	<dict>
		<key>detailtitle</key>
		<string>~~~~~~~~~~~~~~~</string>
		<key>tempvalue</key>
		<string></string>
		<key>titleLabelNumberOfLines</key>
		<string></string>
		<key>sectiontitle</key>
		<string>SECTION6</string>
		<key>inputAccessoryView</key>
		<string></string>
		<key>columncount</key>
		<integer>4</integer>
		<key>sectionheight</key>
		<string>40</string>
		<key>sectionfooter</key>
		<string></string>
		<key>rightComponts</key>
		<string></string>
		<key>imageCornerRadius</key>
		<false/>
		<key>sectionHeaderView</key>
		<string></string>
		<key>titlefontsize</key>
		<string>14</string>
		<key>sectionbgcolor</key>
		<string>clear</string>
		<key>sectioncolor</key>
		<string>0xddaa</string>
		<key>cellclass</key>
		<string>BaseXIBCollectionViewCell</string>
		<key>cellheight</key>
		<integer>100</integer>
		<key>picture</key>
		<string>beauty</string>
		<key>sectionfont</key>
		<string>11</string>
		<key>imageRight</key>
		<false/>
		<key>titlecolor</key>
		<string></string>
		<key>sel_selector_str</key>
		<string></string>
		<key>value</key>
		<string></string>
		<key>subvalue2</key>
		<string></string>
		<key>dictionary</key>
		<dict>
			<key>key_cellstruct_background</key>
			<string></string>
		</dict>
		<key>CellStyleValue</key>
		<string></string>
		<key>selectionStyle</key>
		<false/>
		<key>xibvalue</key>
		<string></string>
		<key>attributeTitle</key>
		<string></string>
		<key>array</key>
		<string></string>
		<key>picturecolor</key>
		<string></string>
		<key>textAlignment</key>
		<string></string>
		<key>placeHolder</key>
		<string></string>
		<key>accessory</key>
		<false/>
		<key>key_indexpath</key>
		<string></string>
		<key>cellctr</key>
		<string></string>
		<key>sectionfooterheight</key>
		<string></string>
		<key>showTopLine</key>
		<false/>
		<key>showBottomLine</key>
		<false/>
		<key>uploadingIndex</key>
		<string></string>
		<key>title</key>
		<string>test2</string>
		<key>uploadobjcts</key>
		<string></string>
		<key>object2</key>
		<string></string>
		<key>inputView</key>
		<string></string>
		<key>rightValue</key>
		<string></string>
	</dict>
	<key>section1_1</key>
	<dict>
		<key>detailtitle</key>
		<string>~~~~~~~~~~~~~~~</string>
		<key>tempvalue</key>
		<string></string>
		<key>titleLabelNumberOfLines</key>
		<string></string>
		<key>sectiontitle</key>
		<string>SECTION6</string>
		<key>inputAccessoryView</key>
		<string></string>
		<key>columncount</key>
		<integer>1</integer>
		<key>sectionheight</key>
		<string>40</string>
		<key>sectionfooter</key>
		<string></string>
		<key>rightComponts</key>
		<string></string>
		<key>imageCornerRadius</key>
		<false/>
		<key>sectionHeaderView</key>
		<string></string>
		<key>titlefontsize</key>
		<string>14</string>
		<key>sectionbgcolor</key>
		<string>clear</string>
		<key>sectioncolor</key>
		<string>0xddaa</string>
		<key>cellclass</key>
		<string>BaseXIBCollectionViewCell</string>
		<key>cellheight</key>
		<integer>100</integer>
		<key>picture</key>
		<string>beauty</string>
		<key>sectionfont</key>
		<string>11</string>
		<key>imageRight</key>
		<false/>
		<key>titlecolor</key>
		<string></string>
		<key>sel_selector_str</key>
		<string></string>
		<key>value</key>
		<string></string>
		<key>subvalue2</key>
		<string></string>
		<key>dictionary</key>
		<dict>
			<key>key_cellstruct_background</key>
			<string></string>
		</dict>
		<key>CellStyleValue</key>
		<string></string>
		<key>selectionStyle</key>
		<false/>
		<key>xibvalue</key>
		<string></string>
		<key>attributeTitle</key>
		<string></string>
		<key>array</key>
		<string></string>
		<key>picturecolor</key>
		<string></string>
		<key>textAlignment</key>
		<string></string>
		<key>placeHolder</key>
		<string></string>
		<key>accessory</key>
		<false/>
		<key>key_indexpath</key>
		<string></string>
		<key>cellctr</key>
		<string></string>
		<key>sectionfooterheight</key>
		<string></string>
		<key>showTopLine</key>
		<false/>
		<key>showBottomLine</key>
		<false/>
		<key>uploadingIndex</key>
		<string></string>
		<key>title</key>
		<string>test2</string>
		<key>uploadobjcts</key>
		<string></string>
		<key>object2</key>
		<string></string>
		<key>inputView</key>
		<string></string>
		<key>rightValue</key>
		<string></string>
	</dict>
	<key>section1_2</key>
	<dict>
		<key>detailtitle</key>
		<string>~~~~~~~~~~~~~~~</string>
		<key>tempvalue</key>
		<string></string>
		<key>titleLabelNumberOfLines</key>
		<string></string>
		<key>sectiontitle</key>
		<string>SECTION6</string>
		<key>inputAccessoryView</key>
		<string></string>
		<key>columncount</key>
		<integer>1</integer>
		<key>sectionheight</key>
		<string>40</string>
		<key>sectionfooter</key>
		<string></string>
		<key>rightComponts</key>
		<string></string>
		<key>imageCornerRadius</key>
		<false/>
		<key>sectionHeaderView</key>
		<string></string>
		<key>titlefontsize</key>
		<string>14</string>
		<key>sectionbgcolor</key>
		<string>clear</string>
		<key>sectioncolor</key>
		<string>0xddaa</string>
		<key>cellclass</key>
		<string>BaseXIBCollectionViewCell</string>
		<key>cellheight</key>
		<integer>100</integer>
		<key>picture</key>
		<string>beauty</string>
		<key>sectionfont</key>
		<string>11</string>
		<key>imageRight</key>
		<false/>
		<key>titlecolor</key>
		<string></string>
		<key>sel_selector_str</key>
		<string></string>
		<key>value</key>
		<string></string>
		<key>subvalue2</key>
		<string></string>
		<key>dictionary</key>
		<dict>
			<key>key_cellstruct_background</key>
			<string></string>
		</dict>
		<key>CellStyleValue</key>
		<string></string>
		<key>selectionStyle</key>
		<false/>
		<key>xibvalue</key>
		<string></string>
		<key>attributeTitle</key>
		<string></string>
		<key>array</key>
		<string></string>
		<key>picturecolor</key>
		<string></string>
		<key>textAlignment</key>
		<string></string>
		<key>placeHolder</key>
		<string></string>
		<key>accessory</key>
		<false/>
		<key>key_indexpath</key>
		<string></string>
		<key>cellctr</key>
		<string></string>
		<key>sectionfooterheight</key>
		<string></string>
		<key>showTopLine</key>
		<false/>
		<key>showBottomLine</key>
		<false/>
		<key>uploadingIndex</key>
		<string></string>
		<key>title</key>
		<string>test2</string>
		<key>uploadobjcts</key>
		<string></string>
		<key>object2</key>
		<string></string>
		<key>inputView</key>
		<string></string>
		<key>rightValue</key>
		<string></string>
	</dict>
	<key>section1_3</key>
	<dict>
		<key>detailtitle</key>
		<string>~~~~~~~~~~~~~~~</string>
		<key>tempvalue</key>
		<string></string>
		<key>titleLabelNumberOfLines</key>
		<string></string>
		<key>sectiontitle</key>
		<string>SECTION6</string>
		<key>inputAccessoryView</key>
		<string></string>
		<key>columncount</key>
		<integer>1</integer>
		<key>sectionheight</key>
		<string>40</string>
		<key>sectionfooter</key>
		<string></string>
		<key>rightComponts</key>
		<string></string>
		<key>imageCornerRadius</key>
		<false/>
		<key>sectionHeaderView</key>
		<string></string>
		<key>titlefontsize</key>
		<string>14</string>
		<key>sectionbgcolor</key>
		<string>clear</string>
		<key>sectioncolor</key>
		<string>0xddaa</string>
		<key>cellclass</key>
		<string>BaseXIBCollectionViewCell</string>
		<key>cellheight</key>
		<integer>100</integer>
		<key>picture</key>
		<string>beauty</string>
		<key>sectionfont</key>
		<string>11</string>
		<key>imageRight</key>
		<false/>
		<key>titlecolor</key>
		<string></string>
		<key>sel_selector_str</key>
		<string></string>
		<key>value</key>
		<string></string>
		<key>subvalue2</key>
		<string></string>
		<key>dictionary</key>
		<dict>
			<key>key_cellstruct_background</key>
			<string></string>
		</dict>
		<key>CellStyleValue</key>
		<string></string>
		<key>selectionStyle</key>
		<false/>
		<key>xibvalue</key>
		<string></string>
		<key>attributeTitle</key>
		<string></string>
		<key>array</key>
		<string></string>
		<key>picturecolor</key>
		<string></string>
		<key>textAlignment</key>
		<string></string>
		<key>placeHolder</key>
		<string></string>
		<key>accessory</key>
		<false/>
		<key>key_indexpath</key>
		<string></string>
		<key>cellctr</key>
		<string></string>
		<key>sectionfooterheight</key>
		<string></string>
		<key>showTopLine</key>
		<false/>
		<key>showBottomLine</key>
		<false/>
		<key>uploadingIndex</key>
		<string></string>
		<key>title</key>
		<string>test2</string>
		<key>uploadobjcts</key>
		<string></string>
		<key>object2</key>
		<string></string>
		<key>inputView</key>
		<string></string>
		<key>rightValue</key>
		<string></string>
	</dict>
	<key>section1_4</key>
	<dict>
		<key>detailtitle</key>
		<string>~~~~~~~~~~~~~~~</string>
		<key>tempvalue</key>
		<string></string>
		<key>titleLabelNumberOfLines</key>
		<string></string>
		<key>sectiontitle</key>
		<string>SECTION6</string>
		<key>inputAccessoryView</key>
		<string></string>
		<key>columncount</key>
		<integer>1</integer>
		<key>sectionheight</key>
		<string>40</string>
		<key>sectionfooter</key>
		<string></string>
		<key>rightComponts</key>
		<string></string>
		<key>imageCornerRadius</key>
		<false/>
		<key>sectionHeaderView</key>
		<string></string>
		<key>titlefontsize</key>
		<string>14</string>
		<key>sectionbgcolor</key>
		<string>clear</string>
		<key>sectioncolor</key>
		<string>0xddaa</string>
		<key>cellclass</key>
		<string>BaseXIBCollectionViewCell</string>
		<key>cellheight</key>
		<integer>100</integer>
		<key>picture</key>
		<string>beauty</string>
		<key>sectionfont</key>
		<string>11</string>
		<key>imageRight</key>
		<false/>
		<key>titlecolor</key>
		<string></string>
		<key>sel_selector_str</key>
		<string></string>
		<key>value</key>
		<string></string>
		<key>subvalue2</key>
		<string></string>
		<key>dictionary</key>
		<dict>
			<key>key_cellstruct_background</key>
			<string></string>
		</dict>
		<key>CellStyleValue</key>
		<string></string>
		<key>selectionStyle</key>
		<false/>
		<key>xibvalue</key>
		<string></string>
		<key>attributeTitle</key>
		<string></string>
		<key>array</key>
		<string></string>
		<key>picturecolor</key>
		<string></string>
		<key>textAlignment</key>
		<string></string>
		<key>placeHolder</key>
		<string></string>
		<key>accessory</key>
		<false/>
		<key>key_indexpath</key>
		<string></string>
		<key>cellctr</key>
		<string></string>
		<key>sectionfooterheight</key>
		<string></string>
		<key>showTopLine</key>
		<false/>
		<key>showBottomLine</key>
		<false/>
		<key>uploadingIndex</key>
		<string></string>
		<key>title</key>
		<string>test2</string>
		<key>uploadobjcts</key>
		<string></string>
		<key>object2</key>
		<string></string>
		<key>inputView</key>
		<string></string>
		<key>rightValue</key>
		<string></string>
	</dict>
	<key>section1_5</key>
	<dict>
		<key>detailtitle</key>
		<string>~~~~~~~~~~~~~~~</string>
		<key>tempvalue</key>
		<string></string>
		<key>titleLabelNumberOfLines</key>
		<string></string>
		<key>sectiontitle</key>
		<string>SECTION6</string>
		<key>inputAccessoryView</key>
		<string></string>
		<key>columncount</key>
		<integer>1</integer>
		<key>sectionheight</key>
		<string>40</string>
		<key>sectionfooter</key>
		<string></string>
		<key>rightComponts</key>
		<string></string>
		<key>imageCornerRadius</key>
		<false/>
		<key>sectionHeaderView</key>
		<string></string>
		<key>titlefontsize</key>
		<string>14</string>
		<key>sectionbgcolor</key>
		<string>clear</string>
		<key>sectioncolor</key>
		<string>0xddaa</string>
		<key>cellclass</key>
		<string>BaseXIBCollectionViewCell</string>
		<key>cellheight</key>
		<integer>100</integer>
		<key>picture</key>
		<string>beauty</string>
		<key>sectionfont</key>
		<string>11</string>
		<key>imageRight</key>
		<false/>
		<key>titlecolor</key>
		<string></string>
		<key>sel_selector_str</key>
		<string></string>
		<key>value</key>
		<string></string>
		<key>subvalue2</key>
		<string></string>
		<key>dictionary</key>
		<dict>
			<key>key_cellstruct_background</key>
			<string></string>
		</dict>
		<key>CellStyleValue</key>
		<string></string>
		<key>selectionStyle</key>
		<false/>
		<key>xibvalue</key>
		<string></string>
		<key>attributeTitle</key>
		<string></string>
		<key>array</key>
		<string></string>
		<key>picturecolor</key>
		<string></string>
		<key>textAlignment</key>
		<string></string>
		<key>placeHolder</key>
		<string></string>
		<key>accessory</key>
		<false/>
		<key>key_indexpath</key>
		<string></string>
		<key>cellctr</key>
		<string></string>
		<key>sectionfooterheight</key>
		<string></string>
		<key>showTopLine</key>
		<false/>
		<key>showBottomLine</key>
		<false/>
		<key>uploadingIndex</key>
		<string></string>
		<key>title</key>
		<string>test2</string>
		<key>uploadobjcts</key>
		<string></string>
		<key>object2</key>
		<string></string>
		<key>inputView</key>
		<string></string>
		<key>rightValue</key>
		<string></string>
	</dict>
	<key>section1_6</key>
	<dict>
		<key>detailtitle</key>
		<string>~~~~~~~~~~~~~~~</string>
		<key>tempvalue</key>
		<string></string>
		<key>titleLabelNumberOfLines</key>
		<string></string>
		<key>sectiontitle</key>
		<string>SECTION6</string>
		<key>inputAccessoryView</key>
		<string></string>
		<key>columncount</key>
		<integer>1</integer>
		<key>sectionheight</key>
		<string>40</string>
		<key>sectionfooter</key>
		<string></string>
		<key>rightComponts</key>
		<string></string>
		<key>imageCornerRadius</key>
		<false/>
		<key>sectionHeaderView</key>
		<string></string>
		<key>titlefontsize</key>
		<string>14</string>
		<key>sectionbgcolor</key>
		<string>clear</string>
		<key>sectioncolor</key>
		<string>0xddaa</string>
		<key>cellclass</key>
		<string>BaseXIBCollectionViewCell</string>
		<key>cellheight</key>
		<integer>100</integer>
		<key>picture</key>
		<string>beauty</string>
		<key>sectionfont</key>
		<string>11</string>
		<key>imageRight</key>
		<false/>
		<key>titlecolor</key>
		<string></string>
		<key>sel_selector_str</key>
		<string></string>
		<key>value</key>
		<string></string>
		<key>subvalue2</key>
		<string></string>
		<key>dictionary</key>
		<dict>
			<key>key_cellstruct_background</key>
			<string></string>
		</dict>
		<key>CellStyleValue</key>
		<string></string>
		<key>selectionStyle</key>
		<false/>
		<key>xibvalue</key>
		<string></string>
		<key>attributeTitle</key>
		<string></string>
		<key>array</key>
		<string></string>
		<key>picturecolor</key>
		<string></string>
		<key>textAlignment</key>
		<string></string>
		<key>placeHolder</key>
		<string></string>
		<key>accessory</key>
		<false/>
		<key>key_indexpath</key>
		<string></string>
		<key>cellctr</key>
		<string></string>
		<key>sectionfooterheight</key>
		<string></string>
		<key>showTopLine</key>
		<false/>
		<key>showBottomLine</key>
		<false/>
		<key>uploadingIndex</key>
		<string></string>
		<key>title</key>
		<string>test2</string>
		<key>uploadobjcts</key>
		<string></string>
		<key>object2</key>
		<string></string>
		<key>inputView</key>
		<string></string>
		<key>rightValue</key>
		<string></string>
	</dict>
	<key>section1_7</key>
	<dict>
		<key>detailtitle</key>
		<string>~~~~~~~~~~~~~~~</string>
		<key>tempvalue</key>
		<string></string>
		<key>titleLabelNumberOfLines</key>
		<string></string>
		<key>sectiontitle</key>
		<string>SECTION6</string>
		<key>inputAccessoryView</key>
		<string></string>
		<key>columncount</key>
		<integer>1</integer>
		<key>sectionheight</key>
		<string>40</string>
		<key>sectionfooter</key>
		<string></string>
		<key>rightComponts</key>
		<string></string>
		<key>imageCornerRadius</key>
		<false/>
		<key>sectionHeaderView</key>
		<string></string>
		<key>titlefontsize</key>
		<string>14</string>
		<key>sectionbgcolor</key>
		<string>clear</string>
		<key>sectioncolor</key>
		<string>0xddaa</string>
		<key>cellclass</key>
		<string>BaseXIBCollectionViewCell</string>
		<key>cellheight</key>
		<integer>100</integer>
		<key>picture</key>
		<string>beauty</string>
		<key>sectionfont</key>
		<string>11</string>
		<key>imageRight</key>
		<false/>
		<key>titlecolor</key>
		<string></string>
		<key>sel_selector_str</key>
		<string></string>
		<key>value</key>
		<string></string>
		<key>subvalue2</key>
		<string></string>
		<key>dictionary</key>
		<dict>
			<key>key_cellstruct_background</key>
			<string></string>
		</dict>
		<key>CellStyleValue</key>
		<string></string>
		<key>selectionStyle</key>
		<false/>
		<key>xibvalue</key>
		<string></string>
		<key>attributeTitle</key>
		<string></string>
		<key>array</key>
		<string></string>
		<key>picturecolor</key>
		<string></string>
		<key>textAlignment</key>
		<string></string>
		<key>placeHolder</key>
		<string></string>
		<key>accessory</key>
		<false/>
		<key>key_indexpath</key>
		<string></string>
		<key>cellctr</key>
		<string></string>
		<key>sectionfooterheight</key>
		<string></string>
		<key>showTopLine</key>
		<false/>
		<key>showBottomLine</key>
		<false/>
		<key>uploadingIndex</key>
		<string></string>
		<key>title</key>
		<string>test2</string>
		<key>uploadobjcts</key>
		<string></string>
		<key>object2</key>
		<string></string>
		<key>inputView</key>
		<string></string>
		<key>rightValue</key>
		<string></string>
	</dict>
	<key>section2_0</key>
	<dict>
		<key>detailtitle</key>
		<string>~~~~~~~~~~~~~~~</string>
		<key>columncount - 2</key>
		<integer>1</integer>
		<key>tempvalue</key>
		<string></string>
		<key>titleLabelNumberOfLines</key>
		<string></string>
		<key>sectiontitle</key>
		<string>SECTION6</string>
		<key>inputAccessoryView</key>
		<string></string>
		<key>columncount</key>
		<integer>1</integer>
		<key>sectionheight</key>
		<string>40</string>
		<key>sectionfooter</key>
		<string></string>
		<key>rightComponts</key>
		<string></string>
		<key>imageCornerRadius</key>
		<false/>
		<key>sectionHeaderView</key>
		<string></string>
		<key>titlefontsize</key>
		<string>14</string>
		<key>sectionbgcolor</key>
		<string>clear</string>
		<key>sectioncolor</key>
		<string>0xddaa</string>
		<key>cellclass</key>
		<string>BaseXIBCollectionViewCell</string>
		<key>cellheight</key>
		<integer>100</integer>
		<key>picture</key>
		<string>beauty</string>
		<key>sectionfont</key>
		<string>11</string>
		<key>imageRight</key>
		<false/>
		<key>titlecolor</key>
		<string></string>
		<key>sel_selector_str</key>
		<string></string>
		<key>value</key>
		<string></string>
		<key>subvalue2</key>
		<string></string>
		<key>dictionary</key>
		<dict>
			<key>key_cellstruct_background</key>
			<string></string>
		</dict>
		<key>CellStyleValue</key>
		<string></string>
		<key>selectionStyle</key>
		<false/>
		<key>xibvalue</key>
		<string></string>
		<key>attributeTitle</key>
		<string></string>
		<key>array</key>
		<string></string>
		<key>picturecolor</key>
		<string></string>
		<key>textAlignment</key>
		<string></string>
		<key>placeHolder</key>
		<string></string>
		<key>accessory</key>
		<false/>
		<key>key_indexpath</key>
		<string></string>
		<key>cellctr</key>
		<string></string>
		<key>sectionfooterheight</key>
		<string></string>
		<key>showTopLine</key>
		<false/>
		<key>showBottomLine</key>
		<false/>
		<key>uploadingIndex</key>
		<string></string>
		<key>title</key>
		<string>test2</string>
		<key>uploadobjcts</key>
		<string></string>
		<key>object2</key>
		<string></string>
		<key>inputView</key>
		<string></string>
		<key>rightValue</key>
		<string></string>
	</dict>
	<key>backgroundcolor</key>
	<string>random</string>
	<key>title</key>
	<string>测试plist Conllection</string>
	<key>backgroundimage</key>
	<string>beauty</string>
</dict>
</plist>
