<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>section0_0</key>
	<dict>
		<key>title</key>
		<string>什么时候使用block?
通常在异步请求时使用 (尤其注意view controller间通信推荐使用delegate 而不是block)</string>
		<key>cellclass</key>
		<string>HBBaseTableViewCell</string>
		<key>detailfontsize</key>
		<integer>18</integer>
		<key>picture</key>
		<string>https://avatars0.githubusercontent.com/u/2466893?v=3&amp;s=40</string>
		<key>sel_selector_str</key>
		<string>selectAction:</string>
		<key>dictionary</key>
		<dict>
			<key>key_cellswitch_onTintColor</key>
			<string>orange</string>
			<key>key_cellstruct_background</key>
			<string>blue</string>
			<key>key_cellswitch_tintColor</key>
			<string>gray</string>
			<key>key_cellstruct_detailuicolor</key>
			<string>gray</string>
			<key>key_cellstruct_detailuifont</key>
			<integer>12</integer>
			<key>key_cellstruct_titleuicolor</key>
			<string>black</string>
			<key>key_cellstruct_titleuifont</key>
			<integer>14</integer>
		</dict>
		<key>sectionfooter</key>
		<string></string>
		<key>sectionfooterheight</key>
		<integer>30</integer>
		<key>selectionStyle</key>
		<true/>
		<key>cellheight</key>
		<integer>44</integer>
		<key>rightValue</key>
		<string></string>
		<key>accessory</key>
		<true/>
		<key>CellStyleValue</key>
		<integer>1</integer>
		<key>showBottomLine</key>
		<true/>
		<key>showTopLine</key>
		<true/>
		<key>imageCornerRadius</key>
		<false/>
		<key>imageRight</key>
		<false/>
		<key>sectiontitle</key>
		<string>I am section  0 title</string>
		<key>sectionheight</key>
		<integer>50</integer>
		<key>sectionfont</key>
		<integer>17</integer>
		<key>sectioncolor</key>
		<string>red</string>
		<key>tempvalue</key>
		<string></string>
		<key>titleLabelNumberOfLines</key>
		<string></string>
		<key>inputAccessoryView</key>
		<string></string>
		<key>rightComponts</key>
		<string></string>
		<key>sectionHeaderView</key>
		<string></string>
		<key>titlecolor</key>
		<string>green</string>
		<key>xibvalue</key>
		<string></string>
		<key>attributeTitle</key>
		<string></string>
		<key>array</key>
		<string></string>
		<key>picturecolor</key>
		<string></string>
		<key>textAlignment</key>
		<string></string>
		<key>placeHolder</key>
		<string></string>
		<key>key_indexpath</key>
		<string></string>
	</dict>
	<key>section0_1</key>
	<dict>
		<key>title</key>
		<string>测试列表2</string>
		<key>cellclass</key>
		<string>HBBaseTableViewCell</string>
		<key>sel_selector_str</key>
		<string>selectAction:</string>
		<key>cellheight</key>
		<integer>40</integer>
	</dict>
	<key>section0_2</key>
	<dict>
		<key>title</key>
		<string>测试列表3</string>
		<key>cellclass</key>
		<string>HBBaseTableViewCell</string>
		<key>cellheight</key>
		<integer>40</integer>
		<key>sel_selector_str</key>
		<string>selectAction:</string>
	</dict>
	<key>title</key>
	<string>HBASNODE</string>
	<key>backgroundcolor</key>
	<string>gray</string>
</dict>
</plist>
