<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>section0_0</key>
	<dict>
		<key>title</key>
		<string>充值</string>
		<key>detailtitle</key>
		<string>2016-03-16</string>
		<key>cellclass</key>
		<string>HBBaseTableViewCell</string>
		<key>picture</key>
		<string>myaccount2</string>
		<key>sel_selector_str</key>
		<string>selectAction:</string>
		<key>sectionheight</key>
		<integer>20</integer>
		<key>selectionStyle</key>
		<true/>
		<key>cellheight</key>
		<real>44</real>
		<key>accessory</key>
		<true/>
		<key>CellStyleValue</key>
		<integer>1</integer>
		<key>showBottomLine</key>
		<false/>
		<key>showTopLine</key>
		<false/>
		<key>imageCornerRadius</key>
		<false/>
		<key>imageRight</key>
		<false/>
		<key>tempvalue</key>
		<string></string>
		<key>titleLabelNumberOfLines</key>
		<string></string>
		<key>inputAccessoryView</key>
		<string></string>
		<key>dictionary</key>
		<dict/>
		<key>sectionfooter</key>
		<string></string>
		<key>rightComponts</key>
		<string></string>
		<key>sectionHeaderView</key>
		<string></string>
		<key>sectioncolor</key>
		<string></string>
		<key>titlecolor</key>
		<string></string>
		<key>sectionfont</key>
		<string></string>
		<key>value</key>
		<string></string>
		<key>subvalue2</key>
		<string></string>
		<key>xibvalue</key>
		<string></string>
		<key>attributeTitle</key>
		<string></string>
		<key>titlefontsize</key>
		<string></string>
		<key>array</key>
		<string></string>
		<key>picturecolor</key>
		<string></string>
		<key>textAlignment</key>
		<string></string>
		<key>placeHolder</key>
		<string></string>
		<key>key_indexpath</key>
		<string></string>
		<key>sectiontitle</key>
		<string></string>
		<key>cellctr</key>
		<string></string>
		<key>sectionfooterheight</key>
		<string></string>
		<key>uploadingIndex</key>
		<string></string>
		<key>uploadobjcts</key>
		<string></string>
		<key>object2</key>
		<string></string>
		<key>inputView</key>
		<string></string>
		<key>rightValue</key>
		<string></string>
	</dict>
</dict>
</plist>
