<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>测试plistttddd</string>
	<key>section0_0</key>
	<dict>
		<key>detailtitle</key>
		<string></string>
		<key>tempvalue</key>
		<string></string>
		<key>titleLabelNumberOfLines</key>
		<string></string>
		<key>inputAccessoryView</key>
		<string></string>
		<key>sectionfooter</key>
		<string></string>
		<key>rightComponts</key>
		<string></string>
		<key>imageCornerRadius</key>
		<false/>
		<key>title</key>
		<string>点我-查看plist如何配置collectionviewdfasfasf sf</string>
		<key>sectionHeaderView</key>
		<string></string>
		<key>sectioncolor</key>
		<string>0x3ffee</string>
		<key>cellclass</key>
		<string>HBBaseTableViewCell</string>
		<key>cellheight</key>
		<integer>90</integer>
		<key>picture</key>
		<string>profile</string>
		<key>sectionfont</key>
		<string>20</string>
		<key>sectiontitle</key>
		<string>section 0</string>
		<key>imageRight</key>
		<false/>
		<key>titlecolor</key>
		<string>red</string>
		<key>sel_selector_str</key>
		<string>selectAction:</string>
		<key>value</key>
		<string></string>
		<key>showBottomLine</key>
		<true/>
		<key>showTopLine</key>
		<false/>
		<key>dictionary</key>
		<dict>
			<key>key_cellstruct_background</key>
			<string></string>
		</dict>
		<key>CellStyleValue</key>
		<integer>1</integer>
		<key>accessory</key>
		<true/>
		<key>selectionStyle</key>
		<true/>
		<key>sectionheight</key>
		<integer>30</integer>
		<key>xibvalue</key>
		<string></string>
		<key>attributeTitle</key>
		<string></string>
		<key>titlefontsize</key>
		<string></string>
		<key>array</key>
		<string></string>
		<key>picturecolor</key>
		<string></string>
		<key>textAlignment</key>
		<string></string>
		<key>placeHolder</key>
		<string></string>
		<key>key_indexpath</key>
		<string></string>
		<key>cellctr</key>
		<string></string>
		<key>sectionfooterheight</key>
		<string></string>
		<key>uploadingIndex</key>
		<string></string>
		<key>subvalue2</key>
		<string></string>
		<key>uploadobjcts</key>
		<string></string>
		<key>object2</key>
		<string></string>
		<key>inputView</key>
		<string></string>
		<key>rightValue</key>
		<string></string>
	</dict>
	<key>section1_0</key>
	<dict>
		<key>detailtitle</key>
		<string>~~~~~~~~~~~~~~~</string>
		<key>titleLabelNumberOfLines</key>
		<string></string>
		<key>inputAccessoryView</key>
		<string></string>
		<key>sectionfooter</key>
		<string></string>
		<key>rightComponts</key>
		<string></string>
		<key>imageCornerRadius</key>
		<false/>
		<key>sectionHeaderView</key>
		<string></string>
		<key>sectioncolor</key>
		<string>0x3ffee</string>
		<key>cellclass</key>
		<string>HBBaseTableViewCell</string>
		<key>cellheight</key>
		<real>44</real>
		<key>picture</key>
		<string>profile</string>
		<key>sectionfont</key>
		<string>10</string>
		<key>imageRight</key>
		<false/>
		<key>title</key>
		<string>修改一下plist文件看看</string>
		<key>titlecolor</key>
		<string>0x34ee</string>
		<key>sel_selector_str</key>
		<string></string>
		<key>sectiontitle</key>
		<string>aasfasfasfsaf</string>
		<key>value</key>
		<string></string>
		<key>subvalue2</key>
		<string></string>
		<key>dictionary</key>
		<dict>
			<key>key_cellstruct_newmessagecount</key>
			<integer>1</integer>
		</dict>
		<key>CellStyleValue</key>
		<integer>1</integer>
		<key>selectionStyle</key>
		<false/>
		<key>sectionheight</key>
		<string></string>
		<key>xibvalue</key>
		<string></string>
		<key>attributeTitle</key>
		<string></string>
		<key>titlefontsize</key>
		<string></string>
		<key>array</key>
		<string></string>
		<key>picturecolor</key>
		<string></string>
		<key>textAlignment</key>
		<string></string>
		<key>placeHolder</key>
		<string></string>
		<key>accessory</key>
		<false/>
		<key>key_indexpath</key>
		<string></string>
		<key>cellctr</key>
		<string></string>
		<key>sectionfooterheight</key>
		<string></string>
		<key>showTopLine</key>
		<false/>
		<key>showBottomLine</key>
		<true/>
		<key>uploadingIndex</key>
		<string></string>
	</dict>
	<key>section2_0</key>
	<dict>
		<key>detailtitle</key>
		<string>~~~~~~~~~~~~~~~</string>
		<key>tempvalue</key>
		<string></string>
		<key>titleLabelNumberOfLines</key>
		<string></string>
		<key>inputAccessoryView</key>
		<string></string>
		<key>sectionfooter</key>
		<string></string>
		<key>rightComponts</key>
		<string></string>
		<key>imageCornerRadius</key>
		<false/>
		<key>sectionHeaderView</key>
		<string></string>
		<key>sectioncolor</key>
		<string>0x3ffee</string>
		<key>cellclass</key>
		<string>HBBaseTableViewCell</string>
		<key>cellheight</key>
		<real>44</real>
		<key>picture</key>
		<string>profile</string>
		<key>sectionfont</key>
		<string>15</string>
		<key>imageRight</key>
		<false/>
		<key>titlecolor</key>
		<string>0x34ee</string>
		<key>sel_selector_str</key>
		<string></string>
		<key>value</key>
		<string></string>
		<key>subvalue2</key>
		<string></string>
		<key>uploadingIndex</key>
		<string></string>
		<key>dictionary</key>
		<dict>
			<key>key_cellstruct_newmessagecount</key>
			<integer>1</integer>
		</dict>
		<key>CellStyleValue</key>
		<integer>1</integer>
		<key>selectionStyle</key>
		<true/>
		<key>xibvalue</key>
		<string></string>
		<key>attributeTitle</key>
		<string></string>
		<key>titlefontsize</key>
		<string></string>
		<key>array</key>
		<string></string>
		<key>picturecolor</key>
		<string></string>
		<key>textAlignment</key>
		<string></string>
		<key>placeHolder</key>
		<string></string>
		<key>accessory</key>
		<false/>
		<key>sectiontitle</key>
		<string>section 2</string>
		<key>key_indexpath</key>
		<string></string>
		<key>sectionheight</key>
		<integer>30</integer>
		<key>cellctr</key>
		<string></string>
		<key>sectionfooterheight</key>
		<string></string>
		<key>showTopLine</key>
		<true/>
		<key>showBottomLine</key>
		<true/>
		<key>title</key>
		<string>I am title label</string>
		<key>uploadobjcts</key>
		<string></string>
		<key>object2</key>
		<string></string>
		<key>inputView</key>
		<string></string>
		<key>rightValue</key>
		<string></string>
	</dict>
	<key>section1_1</key>
	<dict>
		<key>detailtitle</key>
		<string></string>
		<key>tempvalue</key>
		<string></string>
		<key>titleLabelNumberOfLines</key>
		<string></string>
		<key>inputAccessoryView</key>
		<string></string>
		<key>sectionfooter</key>
		<string></string>
		<key>rightComponts</key>
		<string></string>
		<key>imageCornerRadius</key>
		<false/>
		<key>sectionHeaderView</key>
		<string></string>
		<key>sectioncolor</key>
		<string>0x3ffee</string>
		<key>cellclass</key>
		<string>HBBaseTableViewCell</string>
		<key>cellheight</key>
		<real>44</real>
		<key>picture</key>
		<string>profile</string>
		<key>sectionfont</key>
		<string>15</string>
		<key>imageRight</key>
		<false/>
		<key>titlecolor</key>
		<string>0x34ee</string>
		<key>sel_selector_str</key>
		<string></string>
		<key>value</key>
		<string></string>
		<key>subvalue2</key>
		<string></string>
		<key>uploadingIndex</key>
		<string></string>
		<key>dictionary</key>
		<dict>
			<key>key_cellstruct_newmessagecount</key>
			<integer>1</integer>
		</dict>
		<key>CellStyleValue</key>
		<integer>1</integer>
		<key>selectionStyle</key>
		<true/>
		<key>xibvalue</key>
		<string></string>
		<key>attributeTitle</key>
		<string></string>
		<key>titlefontsize</key>
		<string></string>
		<key>array</key>
		<string></string>
		<key>picturecolor</key>
		<string></string>
		<key>textAlignment</key>
		<string></string>
		<key>placeHolder</key>
		<string></string>
		<key>accessory</key>
		<false/>
		<key>sectiontitle</key>
		<string>section 2</string>
		<key>key_indexpath</key>
		<string></string>
		<key>sectionheight</key>
		<integer>30</integer>
		<key>cellctr</key>
		<string></string>
		<key>sectionfooterheight</key>
		<string></string>
		<key>showTopLine</key>
		<true/>
		<key>showBottomLine</key>
		<true/>
		<key>title</key>
		<string>然后按cmd+s 就可以看到最新界面了</string>
		<key>uploadobjcts</key>
		<string></string>
		<key>object2</key>
		<string></string>
		<key>inputView</key>
		<string></string>
		<key>rightValue</key>
		<string></string>
	</dict>
	<key>backgroundcolor</key>
	<string>random</string>
	<key>backitem</key>
	<false/>
</dict>
</plist>
